<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wizard.Idle.0.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,480},{86,68}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,86},{86,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.1.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,422},{86,68}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,86},{86,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.10.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,200},{88,66}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,88},{88,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.11.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,140},{90,64}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,90},{90,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.12.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,128},{90,64}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,90},{90,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.13.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{90,62}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{90,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.14.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,206},{90,62}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{90,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.15.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,194},{90,62}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{90,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.16.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,136},{90,62}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{90,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.17.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,76},{90,62}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,92},{90,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.18.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{90,62}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,92},{90,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.19.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,268},{88,64}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,90},{88,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.2.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,404},{86,70}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,84},{86,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.20.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,70},{90,64}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,90},{90,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.21.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{88,66}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,88},{88,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.22.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,476},{86,66}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,88},{86,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.23.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,412},{86,66}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,88},{86,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.3.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,340},{86,70}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,84},{86,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.4.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{86,70}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,84},{86,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.5.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,334},{86,72}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,82},{86,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.6.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,330},{86,72}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,82},{86,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.7.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,408},{86,70}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,84},{86,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.8.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,258},{88,70}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,84},{88,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Idle.9.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,270},{88,68}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,86},{88,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.0.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{60,100}}</string>
                <key>offset</key>
                <string>{-31,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,47},{60,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.1.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{62,100}}</string>
                <key>offset</key>
                <string>{-31,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,46},{62,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.10.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,410},{74,62}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,87},{74,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.11.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{78,66}}</string>
                <key>offset</key>
                <string>{-27,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,81},{78,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.12.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,550},{82,64}}</string>
                <key>offset</key>
                <string>{-30,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,79},{82,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.13.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,492},{84,64}}</string>
                <key>offset</key>
                <string>{-33,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,78},{84,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.14.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{86,66}}</string>
                <key>offset</key>
                <string>{-34,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,77},{86,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.15.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,350},{86,70}}</string>
                <key>offset</key>
                <string>{-33,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,78},{86,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.16.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,200},{88,72}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,83},{88,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.17.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{90,72}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,85},{90,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.18.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{90,72}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,87},{90,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.19.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,486},{80,68}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,90},{80,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.2.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,100}}</string>
                <key>offset</key>
                <string>{-33,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,45},{66,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.20.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,480},{78,76}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,80},{78,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.21.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,274},{74,86}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,68},{74,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.22.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,66},{72,94}}</string>
                <key>offset</key>
                <string>{-22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,58},{72,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.23.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{66,98}}</string>
                <key>offset</key>
                <string>{-28,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,49},{66,98}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.3.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,64},{62,96}}</string>
                <key>offset</key>
                <string>{-34,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,51},{62,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.4.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,140},{58,90}}</string>
                <key>offset</key>
                <string>{-34,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,63},{58,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.5.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{60,82}}</string>
                <key>offset</key>
                <string>{-27,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,77},{60,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.6.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,334},{58,74}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,87},{58,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.7.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,544},{60,66}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,93},{60,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.8.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,558},{64,62}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,96},{64,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>wizard.Run.9.new.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,568},{70,62}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,92},{70,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wizard.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7882d57efec5578ee8917aff7f565042$</string>
            <key>textureFileName</key>
            <string>wizard.png</string>
        </dict>
    </dict>
</plist>
